* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #3333d0cc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}


.container {
    width: 100%;
    max-width: 400px;
    padding: 25px;
    background-color: #92c6f4;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}


p {
    font-size: 1rem;
    color: #444;
    margin-bottom: 10px;
}


input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #3333d0;
}


button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    background-color: #3333d0;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #2929a3;
    transform: scale(1.05);
}


#qr-image {
    width: 200px;
    border-radius: 6px;
    max-height: 0;
    overflow: hidden;
    margin: 10px auto 0;
    transition: max-height 0.5s ease-in-out;
}

#qr-image.show-img {
    max-height: 200px;
}


img {
    width: 120px;
    height: 120px;
    margin: 10px auto;
    display: block;
}


@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.3rem;
    }

    p {
        font-size: 0.95rem;
    }

    input, button {
        font-size: 0.95rem;
    }

    #qr-image {
        width: 150px;
    }

    img {
        width: 100px;
        height: 100px;
    }
}
