*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(51, 51, 208, 0.804);
}

.container{
    max-height: 100vh;
    width: 30%;
    padding: 20px;
    margin: 15rem auto 0;
    background-color: rgb(146, 198, 244);
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

p{
    margin: 20px auto 10px;
    font-size: 1rem;
}

input{
    width: 80%;
    padding: 10px;
    margin: 10px 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button{
    width: 80%;
    padding: 10px;
    margin: 20px 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(51, 51, 208);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
#qr-image{
    width: 200px;
    border-radius: 5px;
    max-height: 0px;
    overflow: hidden;
    margin: 1px auto;
}

#qr-image.show-img{
    max-height: 200px;
    transition: max-height 0.5s;
}
img{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    display: block;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .container {
        width: 95%; /* Wider container for smaller screens */
        margin: 2rem auto 0; /* Reduced margin for smaller screens */
    }

    h1 {
        font-size: 1.2rem; /* Smaller font size for smaller screens */
    }

    input, button {
        font-size: 0.9rem; /* Smaller font size for inputs and buttons */
    }

    #qr-image {
        width: 150px; /* Smaller QR code image for smaller screens */
    }

    img {
        width: 80px; /* Smaller image size for smaller screens */
        height: 80px;
    }
}